@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.{js,jsx,ts,tsx}';

@theme {
    /* Colors */
    --color-primary: #368ce2;
    --color-background-light: #f1f5f9;
    --color-background-dark: #0f172a;
    --color-surface-dark: #1e293b;

    /* Fonts */
    --font-display: Inter, sans-serif;

    /* Border Radius */
    --radius: 0.75rem;
    --radius-lg: 0.75rem;
    --radius-xl: 1rem;
    --radius-2xl: 1.5rem;
    --radius-full: 9999px;
}
